<div class="container" style="text-align: justify;">
    <img rel="preload" src="./assets/loanbanner.webp" width="100%" height="auto" class="banner">
    <img rel="preload" src="./assets/Mobile-view.webp" width="100%" height="auto" class="bannermobile">
    <div class="text-center mt-4">
      <h1 class="text-center wavy">Apply For Loan</h1>
    </div>
     
    <div class="row">
      <div class="col-lg-3 col-md-6 mt-4">
        <mat-card class="example-card">
          <a routerLink="/service/personal-loan"><img mat-card-image src="assets/personal.webp" alt="personal" width="100%" height="auto"></a>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <a routerLink="/service/personal-loan">
              <mat-card-title>Personal Loan</mat-card-title>
            </a>
          </mat-card-header>
          <mat-card-actions>
            <a routerLink="page/apply-now" mat-raised-button color="">APPLY NOW</a>
          </mat-card-actions>
        </mat-card>
      </div>
  
      <div class="col-lg-3 col-md-6 mt-4">
        <mat-card class="example-card">
          <a routerLink="/service/business-loan"><img mat-card-image src="assets/busines.webp" alt="businessloan" width="100%" height="auto"></a>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <a routerLink="/service/business-loan">
              <mat-card-title>Business Loan</mat-card-title>
            </a>
          </mat-card-header>
          <mat-card-actions>
            <a routerLink="page/apply-now" mat-raised-button color="">APPLY NOW</a>
          </mat-card-actions>
        </mat-card>
      </div>
  
      <div class="col-lg-3 col-md-6 mt-4">
        <mat-card class="example-card">
          <a routerLink="/service/credit-card"><img mat-card-image src="assets/creditcard.webp" alt="creditcard" width="100%" height="auto"></a>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <a routerLink="/service/credit-card">
              <mat-card-title>Credit Card</mat-card-title>
            </a>
          </mat-card-header>
          <mat-card-actions>
            <a routerLink="page/apply-now" mat-raised-button color="">APPLY NOW</a>
          </mat-card-actions>
        </mat-card>
      </div>
  
      <div class="col-lg-3 col-md-6 mt-4 ">
        <mat-card class="example-card">
          <a routerLink="/service/home-loan"><img mat-card-image src="assets/homeloan.webp" alt="homeloan" width="100%" height="auto"></a>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <a routerLink="/service/home-loan">
              <mat-card-title>Home Loan</mat-card-title>
            </a>
          </mat-card-header>
          <mat-card-actions>
            <a routerLink="page/apply-now" mat-raised-button>APPLY NOW</a>
          </mat-card-actions>
        </mat-card>
      </div>
  
    </div>
  
    <div class="row mb-4">
      <div class="col-lg-3 col-md-6 mt-4">
        <mat-card class="example-card">
          <a routerLink="/service/gold-loan"><img mat-card-image src="assets/goldloans.webp" alt="goldloan" width="100%" height="auto"></a>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <a routerLink="/service/gold-loan">
              <mat-card-title>Gold Loan</mat-card-title>
            </a>
          </mat-card-header>
          <mat-card-actions>
            <a routerLink="page/apply-now" mat-raised-button color="">APPLY NOW</a>
          </mat-card-actions>
        </mat-card>
      </div>
  
      <div class="col-lg-3 col-md-6 mt-4">
        <mat-card class="example-card">
          <a routerLink="/service/insurance"><img mat-card-image src="assets/insuranceloansneed.webp" alt="insurance" width="100%" height="auto"></a>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <a routerLink="/service/insurance">
              <mat-card-title>Insurance</mat-card-title>
            </a>
          </mat-card-header>
          <mat-card-actions>
            <a routerLink="page/apply-now" mat-raised-button color="">APPLY NOW</a>
          </mat-card-actions>
        </mat-card>
      </div>
  
      <div class="col-lg-3 col-md-6 mt-4">
        <mat-card class="example-card">
          <a routerLink="/service/car-loan"><img mat-card-image src="assets/carloans.webp" alt="carloan" width="100%" height="auto"></a>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <a routerLink="/service/car-loan">
              <mat-card-title>Car Loan</mat-card-title>
            </a>
          </mat-card-header>
          <mat-card-actions>
            <a routerLink="page/apply-now" mat-raised-button color="">APPLY NOW</a>
          </mat-card-actions>
        </mat-card>
      </div>
  
      <div class="col-lg-3 col-md-6 mt-4 ">
        <mat-card class="example-card">
          <a routerLink="/service/fixed-deposit"><img mat-card-image src="assets/fd.webp" alt="fixed-deposits" width="100%" height="auto"></a>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <a routerLink="/service/fixed-deposit">
              <mat-card-title>Fixed Deposit</mat-card-title>
            </a>
          </mat-card-header>
          <mat-card-actions>
            <a routerLink="page/apply-now" mat-raised-button>APPLY NOW</a>
          </mat-card-actions>
        </mat-card>
      </div>
  
    </div>
  
    <div class="row mt-4 mb-4">
      <h1>Documents Required</h1>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              THE GENERAL LIST FOR OBTAINING A PERSONAL LOAN ARE AS FOLLOWS:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>Photograph</li>
            <li>Identity proof</li>
            <li>Address proof</li>
            <li>Income proof</li>
            <li>Bank Statements</li>
            <li>Continuity Proof</li>
            <li>Qualification proof( applicable only for Self Employed Professionals)</li>
          </ol>
        </mat-expansion-panel>
  
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              IDENTITY PROOF (ANY ONE OF THE FOLLOWING)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li>Copy of PAN Card</li>
            <li>Copy of Passport</li>
            <li>Copy of Driving Licence</li>
            <li>Copy of Government ID card</li>
            <li>Copy of Voter ID card</li>
            <li>Copy of Company ID Card (for select Corporates)</li>
          </ul>
        </mat-expansion-panel>
  
  
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ADDRESS PROOF (ANY ONE OF THE FOLLOWING)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li>Copy of Passport (Can also be used as proof of identity)</li>
            <li>Copy of Telephone Bill (both landline and post paid mobile connection)</li>
            <li>Copy of Driving licence</li>
            <li>Copy of Voter ID card</li>
            <li>Copy of Ration card</li>
            <li>Copy of Electricity bill</li>
            <li>Copy of bank statement ( computerised statements only)</li>
            <li>Copy of Life Insurance premium receipt</li>
            <li>Copy of any title deed( Sale deed/ Index II)</li>
            <li>Copy of Property tax receipt</li>
            <li>Copy of Leave &amp; License Agreement</li>
            <li>Copy of latest credit card statement</li>
          </ul>
        </mat-expansion-panel>
  
  
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              AGE PROOF (ANY ONE OF THE FOLLOWING)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li>Copy of PAN card</li>
            <li>Copy of Passport</li>
            <li>Copy of Birth Certificate issued by competent authority</li>
          </ul>
        </mat-expansion-panel>
  
  
  
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              SIGNATURE VERIFICATION PROOF ( ANY OF THE FOLLOWING)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li>Copy of PAN card</li>
            <li>Copy of Passport</li>
            <li>Copy of Birth Certificate issued by competent authority</li>
          </ul>
        </mat-expansion-panel>
  
  
  
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              INCOME DOCUMENTS (ANY ONE OF THE FOLLOWING)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li>Copy of latest three salary slips</li>
            <li>Copy of appointment letter or Form No. 16 indicating proof of continuity in employment</li>
            <li>Bank statements for the last 3 months</li>
          </ul>
          <strong>For Self-employed Individuals :</strong>
          <ul>
            <li>Copy of last two year IT returns along with computation of income, Balance sheet and Profit &amp;
              Loss a/c , audited reports ( in case of audited financials)</li>
            <li>CA certified financials ( in case of unaudited financials)</li>
            <li>Bank statements of last six months of the main business banking</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  
  </div>