<!-- Footer -->
<section class="footer-back">
    <div class="container">
      <!-- Footer -->
      <footer class="page-footer font-small indigo">
  
        <!-- Footer Links -->
        <div class="container  text-md-left">
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
  
              <!-- Links -->
              <h2 class="font-weight-bold text-uppercase  mt-3 mb-4">CONTACT US</h2>
              <div>
                <a href="tel:+91 9716121823"><h3> +91 9716121823</h3></a>
                <a href = "mailto:ankit@loansneed.com"><h3>ankit@loansneed.com</h3></a>
                <a href="https://goo.gl/maps/cAxayrb8eTZvPg3eA" target="blank"><h3>312-A Metroplex Mall , Radhu Palace Nirman Vihar , Delhi 110092</h3></a>
              </div>
  
            </div>
            <!-- Grid column -->
  
            <hr class="clearfix w-100 d-md-none">
  
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
  
              <!-- Links -->
              <h2 class="font-weight-bold text-uppercase  mt-3 mb-4">COMPANY </h2>
  
              <ul class="list-unstyled text-uppercase">
                <li>
                  <a routerLink="page/About-Us">About us</a>
                </li>
                <li>
                  <a routerLink="page/contact-us">contact us</a>
                </li>
                <li>
                  <a routerLink="page/contact-us">become a partner</a>
                </li>
                <li>
                  <a routerLink="blog/first-post">blog</a>
                </li>
              </ul>
  
            </div>
            <!-- Grid column -->
  
            <hr class="clearfix w-100 d-md-none">
  
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
  
              <!-- Links -->
              <h2 class="font-weight-bold text-uppercase mt-3 mb-4">SERVICES</h2>
  
              <ul class="list-unstyled text-uppercase">
                <li>
                  <a routerLink="service/personal-loan">Personal loan</a>
                </li>
                <li>
                  <a routerLink="service/business-loan">Business Loan</a>
                </li>
                <li>
                  <a routerLink="service/car-loan">Car Loan</a>
                </li>
                <li>
                  <a routerLink="service/credit-card">Credit Card</a>
                </li>
              </ul>
  
            </div>
            <!-- Grid column -->
  
            <hr class="clearfix w-100 d-md-none">
  
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
  
              <!-- Links -->
              <h2 class="font-weight-bold text-uppercase mt-3 mb-4">IMPORTANT LINKS</h2>
  
              <ul class="list-unstyled text-uppercase">
                <li>
                  <a routerLink="page/faq">Faq's</a>
                </li>
                <li>
                  <a routerLink="page/apply-now">Apply Now</a>
                </li>
              </ul>
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </div>
        <!-- Footer Links -->
        <div class="text-center">
          <a href="https://www.facebook.com/loansneeddotcom" target="blank"><img src="assets/facebook.webp" alt="facebook" width="40px" height="auto"></a>
          <a href="https://www.instagram.com/loansneed" target="blank"><img src="assets/instagram.webp" alt="instagram" width="40px" height="auto"></a>
          <a href="https://www.linkedin.com/company/loansneed/" target="blank"><img src="assets/linkedin.webp" alt="linkedin" width="40px" height="auto"></a>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="">www.loansneed.com</a>
        </div>
        <!-- Copyright -->
  
      </footer>
      <!-- Footer -->
    </div>
  </section>
  <!-- Footer -->