<div class="container">
    <h1 class="text-center wavy">{{title}}</h1>
    <div class="row mt-4 mb-4">
        <div class="col-lg-4">
            <div class="text-center">
                <h2>Call & whatsapp @</h2>
                <div>
                    <a href="tel:+91 9716121823"> <img src="assets/mobile-phone.webp" width="40px" height="auto"> +91-9716121823</a>
                </div>
                <div>
                    <a href="https://wa.me/+919716121823" target="blank"> <img src="assets/whatsapp.webp" width="40px" height="auto"> +91-.9716121823</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <h2>Email</h2>
                <div>
                    <img src="assets/gmail2.webp" width="40px" height="auto"><span>
                        <a href ="mailto:ankit@loansneed.com"> ankit@loansneed.com</a><br>
                        <a href ="mailto:yourtaxadvisorss@gmail.com"> yourtaxadvisorss@gmail.com</a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <h2>Address</h2>
                <div>
                    <a href="https://goo.gl/maps/cAxayrb8eTZvPg3eA" target="blank"> <img src="assets/location.webp" width="40px" height="auto">312-A Metroplex Mall , Radhu Palace Nirman Vihar , Delhi
                        110092</a>
                </div>
            </div>
        </div>
    </div>
</div>