<div class="container" style="text-align: justify;">
    <h1 class="text-center wavy">{{title}}</h1>
    <img src="./assets/business-loan.webp" alt="business" width="100%" height="auto">

    <p class="mt-4">Many times businessmen find themselves in need of credit to expand or fund their business for multiple reasons.
        They need the funds to buy some equipment, working capital gap, payment to creditors, pay off business dues, pay
        employee’s salaries, to expand, etc. Businessmen can’t put the funds in line from their savings. Thus they opt
        for business loans. The business loan works as the perfect financial aid for such situations. Taking a business
        loan is always a safe and easy way to tackle your business-related financial needs. You can also apply for a
        business loan if you want to start a new business.
    </p>
    <p>
        The terms and conditions to avail such a loan are different
        than the loan taken for already running businesses. Each business is different in various aspects thus it
        requires different documents and is applied to different criteria. That’s why banks and NBFCs offer customized
        business loan plans as per the requirement of applicant/s. These plans are applicant/s centric and made with
        keeping financial alternatives in mind. Banks and NBFCs also offer special loans for women entrepreneurs. They
        are customized business loan plans for women to service their needs and give them a chance to build a
        competitive business in the market.
    </p>
    <h2>WHY CHOOSE LOANSNEED TO APPLY FOR BUSINESS LOAN?</h2>
    <p>Loansneed is India’s fastest growing financial distributors.We serve customers from all the major cities in India
        like Mumbai, Delhi, Bangalore, Chennai, Hyderabad, Pune, Nashik and many more. A comprised team with mammoth
        experience in finance and internally developed highly proficient Loan Calculator algorithm, we are pledged to
        offer solutions to all your financial needs. Borrowers can apply for a business loan with Loansneeds’ latest
        online application process. You can choose from a plethora of banks and NBFCs on our website for your loan. We
        help you borrow right.</p>

    <div class="row">
        <div class="col-lg-6">
            <h2>Hassle free process</h2>
            <p>We have developed an efficient, smooth and easy process for our consumers to get a business loan. Our
                easy to use online procedure allows consumers to apply documents quickly. Our highly proficient Loan
                Calculator also guides the consumers to embark on a hassle-free process.</p>
        </div>
        <div class="col-lg-6">
            <h2>Benefits of applying with us</h2>
            <p>We value our consumers and are always on our toes to give them the benefits of our expertise. Applying
                for a business loan with us gives you a chance to avail the best offers and deals from our partner banks
                and NBFCs.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Compare your loan options</h2>
            <p>You can compare interest rates, offers, and services on our online portal. This will guide you to make
                the right choice and choose the right lender for your loan as per your budget.</p>
        </div>
        <div class="col-lg-6">
            <h2>Free expert guidance and advice</h2>
            <p>Our financial experts are always ready to give you the perfect advice. These highly trained professionals
                in finance know the back and forth of the industry. Our dedicated team of experts will help you at any
                given time, without charging a dime.</p>
        </div>
    </div>

    <div class="mb-4">
        <h2>DOCUMENTS REQUIRED FOR BUSINESS LOAN</h2>
    </div>
    
    <div class="mb-4">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        THE GENERAL LIST FOR OBTAINING A BUSINES LOAN ARE AS FOLLOWS:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                    <li>Photograph</li>
                    <li>Identity proof</li>
                    <li>Address proof</li>
                    <li>Income proof</li>
                    <li>Bank Statements</li>
                    <li>Continuity Proof</li>
                    <li>Qualification proof( applicable only for Self Employed Professionals)</li>
                </ol>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        IDENTITY PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN Card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Driving Licence</li>
                    <li>Copy of Government ID card</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Company ID Card (for select Corporates)</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ADDRESS PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of Passport (Can also be used as proof of identity)</li>
                    <li>Copy of Telephone Bill (both landline and post paid mobile connection)</li>
                    <li>Copy of Driving licence</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Ration card</li>
                    <li>Copy of Electricity bill</li>
                    <li>Copy of bank statement ( computerised statements only)</li>
                    <li>Copy of Life Insurance premium receipt</li>
                    <li>Copy of any title deed( Sale deed/ Index II)</li>
                    <li>Copy of Property tax receipt</li>
                    <li>Copy of Leave &amp; License Agreement</li>
                    <li>Copy of latest credit card statement</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        AGE PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        SIGNATURE VERIFICATION PROOF ( ANY OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        INCOME DOCUMENTS (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of latest three salary slips</li>
                    <li>Copy of appointment letter or Form No. 16 indicating proof of continuity in employment</li>
                    <li>Bank statements for the last 3 months</li>
                </ul>
                <strong>For Self-employed Individuals :</strong>
                <ul>
                    <li>Copy of last two year IT returns along with computation of income, Balance sheet and Profit
                        &amp;
                        Loss a/c , audited reports ( in case of audited financials)</li>
                    <li>CA certified financials ( in case of unaudited financials)</li>
                    <li>Bank statements of last six months of the main business banking</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="text-center mt-2 mb-2">
        <a routerLink="../../page/apply-now" mat-raised-button color="">APPLY NOW</a>
    </div>
</div>