<div class="container" style="text-align: justify;">
    <h1 class="text-center wavy">{{title}}</h1>
    <img src="./assets/home-loan.webp" alt="homeloan" width="100%" height="auto">
    <p class="mt-4">A house door with your name on it is the ultimate dream of any living individual. In India, owning
        your own house
        is considered as one of the major signs of success. As the average income ratio of Indians is increasing with
        globalization, the desire to buy your own house is also increasing simultaneously. Along with this, the price of
        property too is increasing day by day, irrespective whether it’s an urban or rural area.
    </p>
    <p>
        Thus it becomes highly impossible for a common man to buy a house only with his or her savings. This has lead to
        an increase and extreme popularity in purchasing home loans from Banks and NBFCs to fulfill their dream. Home
        loans is the best selling banking product. It also assures a stronger and longer relationship with your bank. A
        home loan that is also known as a housing loan refers to an amount borrowed by a consumer from a bank or NBFC to
        buy, construct, repair or renovate a residential property. This borrowed amount or loan is lent on a fixed or
        flexible tenure and an interest rate on the borrowed amount. The borrower is supposed to pay off the principal
        amount of loan with the interest within the fixed tenure.
    </p>
    <h2>WHY CHOOSE LOANSNEED TO APPLY FOR HOME LOAN?</h2>
    <p>Loansneed is India’s fastest growing financial distributors.We serve customers from all the major cities in India
        like Mumbai, Delhi, Bangalore, Chennai, Hyderabad, Pune, Nashik and many more. A comprised team with mammoth
        experience in finance and internally developed highly proficient Loan Calculator algorithm, we are pledged to
        offer solutions to all your financial needs. Borrowers can apply for a home loan with Loansneeds’ latest
        online application process. You can choose from a plethora of banks and NBFCs on our website for your loan. We
        help you borrow right.
    </p>
    <div class="row">
        <div class="col-lg-6">
            <h2>Hassle free process</h2>
            <p>We have developed an efficient, smooth and easy process for our consumers to get a home  loan. Our
                easy to use online procedure allows consumers to apply documents quickly. Our highly proficient Loan
                Calculator also guides the consumers to embark on a hassle-free process.</p>
        </div>
        <div class="col-lg-6">
            <h2>Benefits of applying with us</h2>
            <p>We value our consumers and are always on our toes to give them the benefits of our expertise. Applying
                for a home loan with us gives you a chance to avail the best offers and deals from our partner banks
                and NBFCs.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Compare your loan options</h2>
            <p>You can compare interest rates, offers, and services on our online portal. This will guide you to make
                the right choice and choose the right lender for your loan as per your budget.</p>
        </div>
        <div class="col-lg-6">
            <h2>Free expert guidance and advice</h2>
            <p>Our financial experts are always ready to give you the perfect advice. These highly trained professionals
                in finance know the back and forth of the industry. Our dedicated team of experts will help you at any
                given time, without charging a dime.</p>
        </div>
    </div>
    <div class="mb-4">
        <h2>What are the Documents Required to avail a Best Home Loan?</h2>
    </div>
    <div class="mb-4">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        THE GENERAL LIST FOR OBTAINING A HOME LOAN ARE AS FOLLOWS:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                    <li>Photograph</li>
                    <li>Identity proof</li>
                    <li>Address proof</li>
                    <li>Income proof</li>
                    <li>Bank Statements</li>
                    <li>Continuity Proof</li>
                    <li>Qualification proof( applicable only for Self Employed Professionals)</li>
                </ol>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        IDENTITY PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN Card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Driving Licence</li>
                    <li>Copy of Government ID card</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Company ID Card (for select Corporates)</li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ADDRESS PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of Passport (Can also be used as proof of identity)</li>
                    <li>Copy of Telephone Bill (both landline and post paid mobile connection)</li>
                    <li>Copy of Driving licence</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Ration card</li>
                    <li>Copy of Electricity bill</li>
                    <li>Copy of bank statement ( computerised statements only)</li>
                    <li>Copy of Life Insurance premium receipt</li>
                    <li>Copy of any title deed( Sale deed/ Index II)</li>
                    <li>Copy of Property tax receipt</li>
                    <li>Copy of Leave &amp; License Agreement</li>
                    <li>Copy of latest credit card statement</li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        AGE PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        SIGNATURE VERIFICATION PROOF ( ANY OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        INCOME DOCUMENTS (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of latest three salary slips</li>
                    <li>Copy of appointment letter or Form No. 16 indicating proof of continuity in employment</li>
                    <li>Bank statements for the last 3 months</li>
                </ul>
                <strong>For Self-employed Individuals :</strong>
                <ul>
                    <li>Copy of last two year IT returns along with computation of income, Balance sheet and Profit
                        &amp;
                        Loss a/c , audited reports ( in case of audited financials)</li>
                    <li>CA certified financials ( in case of unaudited financials)</li>
                    <li>Bank statements of last six months of the main business banking</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="text-center mt-2 mb-2">
        <a routerLink="../../page/apply-now" mat-raised-button color="">APPLY NOW</a>
    </div>
</div>