<div class="container">

    <h1 class="text-center wavy">{{title}}</h1>
    <div class="row mt-4 mb-4">
        <h1>For Personal laon</h1>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        THE GENERAL LIST FOR OBTAINING A PERSONAL LOAN ARE AS FOLLOWS:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                    <li>Photograph</li>
                    <li>Identity proof</li>
                    <li>Address proof</li>
                    <li>Income proof</li>
                    <li>Bank Statements</li>
                    <li>Continuity Proof</li>
                    <li>Qualification proof( applicable only for Self Employed Professionals)</li>
                </ol>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        IDENTITY PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN Card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Driving Licence</li>
                    <li>Copy of Government ID card</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Company ID Card (for select Corporates)</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ADDRESS PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of Passport (Can also be used as proof of identity)</li>
                    <li>Copy of Telephone Bill (both landline and post paid mobile connection)</li>
                    <li>Copy of Driving licence</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Ration card</li>
                    <li>Copy of Electricity bill</li>
                    <li>Copy of bank statement ( computerised statements only)</li>
                    <li>Copy of Life Insurance premium receipt</li>
                    <li>Copy of any title deed( Sale deed/ Index II)</li>
                    <li>Copy of Property tax receipt</li>
                    <li>Copy of Leave &amp; License Agreement</li>
                    <li>Copy of latest credit card statement</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        AGE PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        SIGNATURE VERIFICATION PROOF ( ANY OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        INCOME DOCUMENTS (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of latest three salary slips</li>
                    <li>Copy of appointment letter or Form No. 16 indicating proof of continuity in employment</li>
                    <li>Bank statements for the last 3 months</li>
                </ul>
                <strong>For Self-employed Individuals :</strong>
                <ul>
                    <li>Copy of last two year IT returns along with computation of income, Balance sheet and Profit
                        &amp;
                        Loss a/c , audited reports ( in case of audited financials)</li>
                    <li>CA certified financials ( in case of unaudited financials)</li>
                    <li>Bank statements of last six months of the main business banking</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="row mt-4 mb-4">
        <h1>For Car laon</h1>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        THE GENERAL LIST FOR OBTAINING A PERSONAL LOAN ARE AS FOLLOWS:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                    <li>Photograph</li>
                    <li>Identity proof</li>
                    <li>Address proof</li>
                    <li>Income proof</li>
                    <li>Bank Statements</li>
                    <li>Continuity Proof</li>
                    <li>Qualification proof( applicable only for Self Employed Professionals)</li>
                </ol>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        IDENTITY PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN Card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Driving Licence</li>
                    <li>Copy of Government ID card</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Company ID Card (for select Corporates)</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ADDRESS PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of Passport (Can also be used as proof of identity)</li>
                    <li>Copy of Telephone Bill (both landline and post paid mobile connection)</li>
                    <li>Copy of Driving licence</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Ration card</li>
                    <li>Copy of Electricity bill</li>
                    <li>Copy of bank statement ( computerised statements only)</li>
                    <li>Copy of Life Insurance premium receipt</li>
                    <li>Copy of any title deed( Sale deed/ Index II)</li>
                    <li>Copy of Property tax receipt</li>
                    <li>Copy of Leave &amp; License Agreement</li>
                    <li>Copy of latest credit card statement</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        AGE PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        SIGNATURE VERIFICATION PROOF ( ANY OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        INCOME DOCUMENTS (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of latest three salary slips</li>
                    <li>Copy of appointment letter or Form No. 16 indicating proof of continuity in employment</li>
                    <li>Bank statements for the last 3 months</li>
                </ul>
                <strong>For Self-employed Individuals :</strong>
                <ul>
                    <li>Copy of last two year IT returns along with computation of income, Balance sheet and Profit
                        &amp;
                        Loss a/c , audited reports ( in case of audited financials)</li>
                    <li>CA certified financials ( in case of unaudited financials)</li>
                    <li>Bank statements of last six months of the main business banking</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>


    <div class="row mt-4 mb-4">
        <h1>For Business laon</h1>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        THE GENERAL LIST FOR OBTAINING A PERSONAL LOAN ARE AS FOLLOWS:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                    <li>Photograph</li>
                    <li>Identity proof</li>
                    <li>Address proof</li>
                    <li>Income proof</li>
                    <li>Bank Statements</li>
                    <li>Continuity Proof</li>
                    <li>Qualification proof( applicable only for Self Employed Professionals)</li>
                </ol>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        IDENTITY PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN Card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Driving Licence</li>
                    <li>Copy of Government ID card</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Company ID Card (for select Corporates)</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ADDRESS PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of Passport (Can also be used as proof of identity)</li>
                    <li>Copy of Telephone Bill (both landline and post paid mobile connection)</li>
                    <li>Copy of Driving licence</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Ration card</li>
                    <li>Copy of Electricity bill</li>
                    <li>Copy of bank statement ( computerised statements only)</li>
                    <li>Copy of Life Insurance premium receipt</li>
                    <li>Copy of any title deed( Sale deed/ Index II)</li>
                    <li>Copy of Property tax receipt</li>
                    <li>Copy of Leave &amp; License Agreement</li>
                    <li>Copy of latest credit card statement</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        AGE PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        SIGNATURE VERIFICATION PROOF ( ANY OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        INCOME DOCUMENTS (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of latest three salary slips</li>
                    <li>Copy of appointment letter or Form No. 16 indicating proof of continuity in employment</li>
                    <li>Bank statements for the last 3 months</li>
                </ul>
                <strong>For Self-employed Individuals :</strong>
                <ul>
                    <li>Copy of last two year IT returns along with computation of income, Balance sheet and Profit
                        &amp;
                        Loss a/c , audited reports ( in case of audited financials)</li>
                    <li>CA certified financials ( in case of unaudited financials)</li>
                    <li>Bank statements of last six months of the main business banking</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>


    <div class="row mt-4 mb-4">
        <h1>For Credit Card </h1>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        THE GENERAL LIST FOR OBTAINING A PERSONAL LOAN ARE AS FOLLOWS:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                    <li>Photograph</li>
                    <li>Identity proof</li>
                    <li>Address proof</li>
                    <li>Income proof</li>
                    <li>Bank Statements</li>
                    <li>Continuity Proof</li>
                    <li>Qualification proof( applicable only for Self Employed Professionals)</li>
                </ol>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        IDENTITY PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN Card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Driving Licence</li>
                    <li>Copy of Government ID card</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Company ID Card (for select Corporates)</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ADDRESS PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of Passport (Can also be used as proof of identity)</li>
                    <li>Copy of Telephone Bill (both landline and post paid mobile connection)</li>
                    <li>Copy of Driving licence</li>
                    <li>Copy of Voter ID card</li>
                    <li>Copy of Ration card</li>
                    <li>Copy of Electricity bill</li>
                    <li>Copy of bank statement ( computerised statements only)</li>
                    <li>Copy of Life Insurance premium receipt</li>
                    <li>Copy of any title deed( Sale deed/ Index II)</li>
                    <li>Copy of Property tax receipt</li>
                    <li>Copy of Leave &amp; License Agreement</li>
                    <li>Copy of latest credit card statement</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        AGE PROOF (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        SIGNATURE VERIFICATION PROOF ( ANY OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of PAN card</li>
                    <li>Copy of Passport</li>
                    <li>Copy of Birth Certificate issued by competent authority</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        INCOME DOCUMENTS (ANY ONE OF THE FOLLOWING)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Copy of latest three salary slips</li>
                    <li>Copy of appointment letter or Form No. 16 indicating proof of continuity in employment</li>
                    <li>Bank statements for the last 3 months</li>
                </ul>
                <strong>For Self-employed Individuals :</strong>
                <ul>
                    <li>Copy of last two year IT returns along with computation of income, Balance sheet and Profit
                        &amp;
                        Loss a/c , audited reports ( in case of audited financials)</li>
                    <li>CA certified financials ( in case of unaudited financials)</li>
                    <li>Bank statements of last six months of the main business banking</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>


    <div class="row mt-4 mb-4">
        <h1>For Home laon</h1>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Q. When does the loan repayment period starts?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>A. Repayment period of loan starts after the entire home loan is disbursed to the borrower. If
                        the property is under-construction, then the banks allow payment of the partially disbursed
                        amount. Towards this partially disbursed loan amount, borrowers are allowed to either repay the
                        principal and interest amount both or just the interest amount or none of the above mentioned
                        amount at all.</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Q. How long does it take for a home loan to get sanctioned?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>The home loan is sanctioned as soon as all the required documents are submitted and verified successfully. This procedure takes anywhere between 10 to 30 days.</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Q. If I deposit my property documents as security with the bank, when will I get those back?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Any property document that are submitted as security collateral are returned to the consumer only once the entire home loan amount is repaid and the home loan on his/her name is closed.</li>
                </ul>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Q. How many people can co-sign a home loan with me?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li> At present, up to 7 people can co-sign a home with the primary applicant. But, all of those need to be blood relatives of the family member.</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Q. Do I need to open a bank account to service my home loan?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>It is not mandatory to apply for a bank account before taking a loan from it. But if you have an account with the bank, you become eligible for a relationship discount. Some banks also provide you additional services along with relationship discount.</li>
                </ul>
            </mat-expansion-panel>



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Q: Can I Track my Loan Application?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Yes, you can track your application via SMS and email. We also provide the facility to track your application on our website via login menu.</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Q. Whom should I contact for any queries related to my loan?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>For your loan-related queries, you can call our representative on 9716121823 or mail us at ankit@loansneed.com</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>