<div class="container">
    <h1 class="text-center">{{title}}</h1>
    <div class="row">
        <div class="col-lg-4">
            <p>
                loansneed.com is a one stop shop for all your financial needs, including Home Loans, Personal Loans,
                Credit
                Cards, Business Loans and Balance Transfers among others. With our internally developed highly
                proficient
                Loan Calculator algorithm, we provide the best options and deals for the loan/financial product of your
                choice. Our algorithmic engines help you by using strong factual data made from relative latest changes
                in
                the market and a calculated understanding of the future trends.
            </p>
        </div>

        <div class="col-lg-4">
            <img src="assets/abouts.webp" alt="about-us" width="100%" height="auto">
            <div class="text-center mt-2 mb-2">
                <a href="page/apply-now" mat-raised-button color="">APPLY NOW</a>
            </div>
        </div>

        <div class="col-lg-4">
            <p>
                We also have an exclusive DSA Loan Partner Program to help you become your own boss. So, rather than
                basing your decisions on advertising campaigns and the sweet writing on brochures, connect with us to
                help you take your financial decisions right and Distribution Services Private Limited or any of its
                associates will never demand any form of money to get your loan processed/passed quickly. loansneed.com
                will not at all be responsible for any of this act. Please Draw our Immediate attention on Toll free or
                Email ID if you come across any such incidence.
                www.loansneed.com
            </p>
        </div>
    </div>
</div>